.my-claims-table
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 100%
    height: 100%

    .my-claims-table-name
        min-width: 250px

    .my-claims-table-dots
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        height: 100%
        width: 100%

.claim-name
    cursor: pointer
    &:hover
        color: var(--button__primary-hover)


.my-claims-modal-title-container    
    display: flex
    align-items: center
    padding: 16px 20px
    border-bottom: 1px solid #dddddd
    
    .title-button
        display: flex
        align-items: center
        justify-content: center
        background: #ffffff
        color: var(--base-color__black)
        height: 100%
        border-radius: 12px
        font-size: 13px
        line-height: 20px
        padding: 6px 12px
        box-shadow: rgb(235, 232, 232) 0 1px 2px 0
        cursor: pointer

        &:hover
            .title-button-text
                color: var(--base-color__black70)

        .title-button-icon
            color: var(--button__primary)

        .title-button-text
            margin-left: 8px
            color: var(--base-color__black)
            font-weight: 500

.my-claims-table-participants
    display: flex
    align-items: center
    gap: 4px

    .participant-item
        display: flex
        align-items: center
        justify-content: center
        background: #ededed
        width: 24px
        height: 24px
        border-radius: 50%
        flex-shrink: 0
        color: var(--base-color__black)

// чтобы задать стили окну модалке
.my-claims-custom-render-modal
    // окно все
    & > div
        padding: 0 !important
        border-radius: 16px !important
        border: 1px solid #f6f6f6 !important
        height: calc(100vh - 40px)
        background: hsla(0, 0%, 100%, 1)
        background: linear-gradient(70deg, hsla(0, 0%, 100%, 1) 0%, hsla(228, 45%, 98%, 1) 62%, hsla(265, 38%, 94%, 1) 91%, hsla(228, 100%, 94%, 1) 100%)
        background: -webkit-linear-gradient(70deg, hsla(0, 0%, 100%, 1) 0%, hsla(228, 45%, 98%, 1) 62%, hsla(265, 38%, 94%, 1) 91%, hsla(228, 100%, 94%, 1) 100%)
        // background: #fafafa !important
        // хедер
        & > div
            background: transparent !important
            border-radius: 16px !important

.my-claims-modal
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    padding: 12px 20px
    gap: 16px

    .modal-claim-name
        font-size: 24px
        font-weight: 500
        color: var(--base-color__black)

    .modal-claim-title
        font-size: 16px
        font-weight: 500
        color: var(--base-color__black)

    .modal-claim-text
        margin-top: 8px
        min-height: 60px

    .about-table
        max-width: 100%
        font-size: 14px

        .key
            display: flex
            gap: 8px
            align-items: center
            color: #6B778C
            padding: 2px 10px 2px 0

        .value
            color: #0e0e0e
            padding: 2px 4px 2px 12px

    .modal-claim-respondent   

    .modal-claim-description

    .modal-claim-attachments
        .modal-claim-attachments-items
            display: flex
            gap: 8px

.close-icon
    display: flex
    align-items: center
    justify-content: center
    color: var(--base-color__black70)
