.main-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%

    .my-claims-content
        display: flex
        flex-direction: column
        flex: 2
        max-width: 1240px
        min-width: 500px
        height: 100%
        width: 100%
        padding: 20px

        .my-claims-header
            display: flex
            align-items: stretch
            justify-content: space-between
            width: 100%

            .header-info 
                display: flex
                flex-direction: column
                align-items: flex-start
                justify-content: flex-start
                width: 100%

                .info-caption
                    font-size: 24px
                    font-weight: 500
                    margin-bottom: 8px

                .info-description
                    font-size: 16px
                    font-weight: 400

                .info-tags
                    display: flex
                    flex-direction: row
                    margin-top: 8px

                    .tag-button
                        border-radius: 16px
                        margin-right: 8px
                        padding: 12px
                        font-size: 14px
                        font-weight: 400

            .header-actions
                display: flex
                flex-direction: row
                align-items: flex-end
                justify-content: flex-end

        .claims-list
            display: flex
            flex-direction: column
            align-items: stretch
            justify-content: flex-start
            width: 100%
            margin-top: 24px
            padding: 16px
            background-color: #ffffff
            border-radius: 16px
            border: 1px solid #e8e8e8
