
.claim-preview
  display: flex
  flex-direction: column
  padding: 0 24px

  .about-table
    max-width: 100%
    font-size: 14px

    .key
      color: #6B778C
      padding: 2px 12px 2px 0

    .value
      color: #0e0e0e
      padding: 2px 4px 2px 12px

  .caption-container
    display: flex
    align-items: center
    justify-content: space-between

    .caption
      font-size: 20px
      font-weight: 500
      color: #0e0e0e
      padding: 12px 0

    .buttons
      display: flex
      align-items: center
      gap: 8px

      .button
        width: unset
        height: 28px
        padding: 0 12px
        border-radius: 6px
        white-space: nowrap
        background-color: rgb(246, 246, 246)
        transition: color 0.2s linear, border 0.2s linear
        &:hover
          color: #0e0e0e

      .comments
        display: flex
        align-items: center
        font-size: 14px
        .number
          margin-left: 4px

  .about
    border-top: 1px solid #e8e8e8
    padding: 16px 0

    .id
      font-size: 14px
      font-weight: 400
      color: #6B778C

    .reason
      font-size: 14px
      font-weight: 400
      color: #0e0e0e

    .status
      font-size: 14px
      font-weight: 400
      color: #0e0e0e

  .company
    border-top: 1px solid #e8e8e8
    padding: 16px 0

    .company-caption
      font-size: 14px
      color: #0e0e0e
      margin-bottom: 8px

  .text
    border-top: 1px solid #e8e8e8
    padding: 16px 0
    font-size: 14px