.company-info-claims
    display: flex
    flex-direction: column
    margin-top: 20px
    width: 100%
    background: #fff
    border-radius: 16px
    box-shadow: rgb(235, 232, 232) 0 1px 2px 0
    border: 1px solid rgb(242, 242, 242)

    .header
        display: flex
        flex-direction: column
        padding: 16px
        border-bottom: 1px solid #e8e8e8

        .search
            display: flex
            align-items: center
            margin-bottom: 10px
            
            .search-input
                flex: 1
            
            .filter-dropdown
                margin-left: 10px
            
        .active-filters
            display: flex
            flex-wrap: wrap
            
            .filter-tag
                margin-right: 8px
                margin-bottom: 8px
                padding: 4px 10px
                border-radius: 8px
                cursor: pointer
            
        .keywords
            display: flex
            flex-wrap: wrap
            align-items: center
            margin-top: 4px

            .caption
                font-size: 14px
                font-weight: 600
                margin-right: 8px
                margin-bottom: 8px
            
            .keyword-tag
                margin-right: 8px
                margin-bottom: 8px
                cursor: pointer
                padding: 2px 10px
                border-radius: 8px
                &:hover
                    opacity: 0.8

    .list
        display: flex
        flex-direction: column
    
    .empty-claims
        display: flex
        justify-content: center
        align-items: center
        height: 200px
            