.new-request
    height: 100%
    width: 100%
    max-width: 3840px
    overflow: auto
    margin: 0px auto 0px
    flex-direction: column
    gap: 32px    

    .main-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: 100%

        .content
            display: flex
            flex-direction: column
            flex: 2
            max-width: 900px
            min-width: 500px
            height: 100%
            width: 100%

            .main-caption
                font-size: 24px
                font-weight: 500
                margin: 28px 0
