@import "src/variables.module.sass"

.navbar
    display: none
    min-width: 250px
    z-index: 3
    padding-bottom: 32px
    height: calc(100vh)
    border-right: 1px solid #e8e8e8
    background: rgb(250, 250, 250)
    box-sizing: border-box
    @include respond-to('md')
        display: block

    .tabs-container
        display: flex
        flex-direction: column
        flex: 1 1 0
        height: 100%
        overflow: hidden auto