
.login
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: #f8f8f8

    .container
        display: flex
        justify-content: center
        position: relative
        background: var(--base-color__white)
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        overflow: hidden
        box-sizing: border-box

        .form
            display: flex
            flex-direction: column
            width: 400px
            flex: 0 0 400px
            padding: 16px 20px

            .caption
                font-size: 24px
                font-weight: 500
                color: rgb(29, 29, 32)
                margin-bottom: 10px

            .form-item
                margin-bottom: 8px

                .label
                    display: flex
                    align-items: center
                    gap: .4rem
                    color: #606367
                    padding-bottom: 4px
                    font-weight: 500
                    font-size: 12px

                .title
                    font-size: 12px
                    color: rgb(103 103 103)

            .error-container
                min-height: 18px
                font-size: 12px
                font-weight: 400
                color: var(--base-color__red500)

            .submit-button
                font-size: 14px

            .reset-button
                color: var(--button__primary)
                margin-top: 16px
                font-size: 14px
                &:hover
                    color: var(--button__primary-hover)

.no-account
    display: flex
    gap: 4px
    margin-top: 20px
    font-size: 14px
    font-weight: 400
    font-family: "Roboto", sans-serif
    color: var(--base-color__black)

    .link
        color: var(--button__primary)
        text-decoration: none
        text-underline: none
