
.editor-toolbar
  margin-top: 8px
  border-top-left-radius: 8px
  border-top-right-radius: 8px
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  border-bottom: none !important
  border-color: #e8e8e8 !important
  background: var(--base-color__white) !important

  .text-title
    min-width: 140px
    margin-right: 12px !important

    > span
      width: 100% !important

.doc
  display: flex !important
  align-items: center
  justify-content: center

.textEdit
  font-size: 14px
  background: var(--base-color__white) !important

.controls
  display: flex
  align-items: center
  margin-top: 12px

  & > button:last-child
    margin-left: 8px