@import "src/variables.module.sass"

.claims
    background: var(--base-color__white)
    padding: 12px
    border-radius: 8px
    margin-bottom: 20px
    border: 1px solid #e8e8e8

    .button-container
        display: flex
        align-items: center
        justify-content: center
        margin-top: 16px

        .all-req-button
            font-size: 12px
            padding: 4px 12px

.row-name
    color: black
    font-size: 14px
    font-weight: 500

.expand-data
    color: #6B778C
    font-size: 14px
    margin-top: 2px

.text
    margin: 8px 0
    font-size: 14px

.expand-link
    color: var(--button__primary)
    font-size: 12px
    padding-left: 0 !important
    &:hover
        color: var(--button__primary-hover) !important

.expand_link:hover
    color: #4693ff
